:root {
    --primary-color: #1e3a8a;
    --secondary-color: #0891b2;
    --tertiary-color: #d97706;
    --neutral-color: #0f172a;
    --background-color: #f4f4f4;
    --text-color: #ffffff;
    --error-color: #ff4d4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

section {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

/*  ==============================
            font sizes
    ==============================  */

.login-register-container form h2 {
    font-size: 30px;
}

.login-register-container form input {
    font-size: 1rem;
}

.auth-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.back-container {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, var(--primary-color) 75%, transparent)
}

.back-container div{
    margin: 100px 40px;
    color: var(--text-color);
    transition: all 500ms;
}

.back-container div p, .back-container div button {
    margin-top: 30px;
}

.back-container div h3 {
    font-weight: 400;
    font-size: 26px;
}

.back-container button {
    padding: 10px 40px;
    border: 2px solid var(--background-color);
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
    outline: none;
    transition: all 300ms;
}

.back-container button:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}


/* 
        Formularios
*/

.login-register-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
}

.login-register-container form {
    width: 100%;
    padding: 80px 20px;
    background: var(--background-color);
    position: absolute;
    border-radius: 20px;
}

.login-register-container form h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.login-register-container form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: color-mix(in srgb, var(--neutral-color) 5%, transparent);
    outline: none;
}

.login-register-container form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    background: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
    outline: none;
}

.login-form {
    opacity: 1;
    display: block;
}

.register-form {
    display: none;
}




.error-message {
    color: var(--error-color);
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    display: none;
}

.error-message.active {
    display: block;
    /* Se muestra cuando se agrega la clase 'active' */
}

@media screen and (max-width: 850px) {
    section {
        margin-top: 50px;
    }

    .back-container {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .back-container div {
        margin: 0px;
        position: absolute;
    }

    /* Formulario */

    .login-register-container {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .login-register-container form {
        position: relative;
    }

    
}