<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte Ciudadano - Ingreso y registro de sesion</title>
    <link rel="stylesheet" href="/assets/css/login-copia.css">
</head>

<body>
    <section>
        <!-- Login y register de prueba -->
        <div class="card-container">

            <div class="back-container">
                <div class="back-container-login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Inicia sesion para entrar a la pagina</p>
                    <button id="login-btn">Iniciar sesion</button>
                </div>
                <div class="back-container-register">
                    <h3>¿Aun no tienes una cuenta?</h3>
                    <p>Registrate para que puedas iniciar sesión</p>
                    <button id="register-btn">Registrarse</button>
                </div>
            </div>
            <!-- Formulario de login y registro -->
            <div class="login-register-container">
                <!-- Login -->
                <form class="login-form" action="" method="POST">

                    <h2>Iniciar sesión</h2>
                    
                    <input class="form-input" type="text" id="dni-user" name="dni-user"
                        placeholder="Ingresa tu DNI" required>

                    
                    <input class="form-input" type="password" id="password" name="password"
                        placeholder="Ingresa tu contraseña" minlength="8" maxlength="20" required>

                    <button class="btn" type="submit">Ingresar</button>
                </form>

                <!-- Register -->
                <form class="register-form" action="" method="POST">

                    <h2>Registrarse</h2>
                    <label for="reg-name">Nombre completo:</label>
                    <input class="form-input" type="text" id="reg-name" name="name"
                        placeholder="Ingresa tu nombre completo" required>

                    <label for="reg-surname">Apellido:</label>
                    <input class="form-input" type="text" id="reg-surname" name="surname"
                        placeholder="Ingresa tu apellido" required>

                    <label for="reg-dni">DNI:</label>
                    <input class="form-input" type="text" id="reg-dni" name="dni" placeholder="Ingresa tu DNI" required>

                    <label for="reg-email">Correo Electrónico:</label>
                    <input class="form-input" type="email" id="reg-email" name="email"
                        placeholder="tu.email@ejemplo.com" required>

                    <label for="reg-department">Departamento:</label>
                    <select class="form-input" id="reg-department" name="department" required>
                        <option value="">Selecciona tu departamento</option>
                        <option value="capital">Capital</option>
                        <option value="general-alvear">General Alvear</option>
                        <option value="godoy-cruz">Godoy Cruz</option>
                        <option value="guaymallen">Guaymallén</option>
                        <option value="junin">Junín</option>
                        <option value="la-paz">La Paz</option>
                        <option value="las-heras">Las Heras</option>
                        <option value="lavalle">Lavalle</option>
                        <option value="lujan">Luján de Cuyo</option>
                        <option value="maipu">Maipú</option>
                        <option value="malargue">Malargüe</option>
                        <option value="rivadavia">Rivadavia</option>
                        <option value="san-carlos">San Carlos</option>
                        <option value="san-martin">San Martín</option>
                        <option value="san-rafael">San Rafael</option>
                        <option value="santa-rosa">Santa Rosa</option>
                        <option value="tunuyan">Tunuyán</option>
                        <option value="tupungato">Tupungato</option>
                    </select>

                    <label for="reg-password">Contraseña:</label>
                    <input class="form-input" type="password" id="reg-password" name="password"
                        placeholder="Ingresa tu contraseña" minlength="8" maxlength="20" required>

                    <label for="reg-password-confirm">Confirmar Contraseña:</label>
                    <input class="form-input" type="password" id="reg-password-confirm" name="password_confirm"
                        placeholder="Confirma tu contraseña" minlength="8" maxlength="20" required>

                    <span class="error-message" id="reg-error-message">Error: Por favor, completa todos los
                        campos.</span>

                    <!--_ La contraseña no puede poseer datos personales como ser, nombres, apellidos, DNI, CUIL/CUIT o fecha de nacimiento.
                            _ Debe tener un largo mínimo de 8 caracteres y máximo de 20 caracteres.
                            _ Debe poseer al menos un numero, al menos una letra minúscula y al menos un/a (letra mayúscula y un caracter especial).
                            _ Se pueden repetir como máximo 2 caracteres de manera consecutiva. -->

                    <label for="reg-terms">
                        <input type="checkbox" id="reg-terms" name="terms" required>
                        Acepto los <a href="/terms">términos y condiciones</a>
                    </label>

                    <button class="btn" type="submit">Registrarse</button>
                </form>
            </div>
        </div>
    </section>
    <footer>

    </footer>

    <script src="/js/login.js"></script>
</body>

</html>